.puzzle-tile {
	--outline-size: 1px;

	outline-color: transparent;
	transition: outline-color 500ms ease;
	outline-offset: calc(0px - var(--outline-size));
	outline-style: solid;
	outline-width: var(--outline-size);

	.puzzle-image_show-grid & {
		outline-color: var(--grid-lines-colour);
	}
}

.puzzle-tile[data-id="9"] {
	opacity: 1;
	transition: opacity 500ms ease;

	.puzzle-image_show-grid & {
		opacity: 0;
	}

	[data-active="true"] & {
		transition: none;
	}
}

/* Tile backgrounds */
[data-image="1"] .puzzle-tile {
	background-image: url("./../../assets/images/1.svg");
}
[data-image="2"] .puzzle-tile {
	background-image: url("./../../assets/images/2.svg");
}
[data-image="3"] .puzzle-tile {
	background-image: url("./../../assets/images/3.svg");
}
[data-image="4"] .puzzle-tile {
	background-image: url("./../../assets/images/4.svg");
}
[data-image="5"] .puzzle-tile {
	background-image: url("./../../assets/images/5.svg");
}
[data-image="6"] .puzzle-tile {
	background-image: url("./../../assets/images/6.svg");
}
[data-image="7"] .puzzle-tile {
	background-image: url("./../../assets/images/7.svg");
}
[data-image="8"] .puzzle-tile {
	background-image: url("./../../assets/images/8.svg");
}
[data-image="9"] .puzzle-tile {
	background-image: url("./../../assets/images/9.svg");
}
[data-image="10"] .puzzle-tile {
	background-image: url("./../../assets/images/10.svg");
}
[data-image="11"] .puzzle-tile {
	background-image: url("./../../assets/images/11.svg");
}
[data-image="12"] .puzzle-tile {
	background-image: url("./../../assets/images/12.svg");
}
[data-image="13"] .puzzle-tile {
	background-image: url("./../../assets/images/13.svg");
}
[data-image="14"] .puzzle-tile {
	background-image: url("./../../assets/images/14.svg");
}
[data-image="15"] .puzzle-tile {
	background-image: url("./../../assets/images/15.svg");
}
[data-image="16"] .puzzle-tile {
	background-image: url("./../../assets/images/16.svg");
}

/* Tile background positions */
[data-size="3"] .puzzle-tile {
	background-size: 300%;

	&[data-id="2"] {
		background-position: 50% 0;
	}
	&[data-id="3"] {
		background-position: 100% 0;
	}
	&[data-id="4"] {
		background-position: 0 50%;
	}
	&[data-id="5"] {
		background-position: 50% 50%;
	}
	&[data-id="6"] {
		background-position: 100% 50%;
	}
	&[data-id="7"] {
		background-position: 0 100%;
	}
	&[data-id="8"] {
		background-position: 50% 100%;
	}
	&[data-id="9"] {
		background-position: 100% 100%;
	}
}

@keyframes slide-up {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-100%);
	}
}

@keyframes slide-down {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(100%);
	}
}

@keyframes slide-left {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes slide-right {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(100%);
	}
}

::view-transition-old(puzzle-tile-up) {
	animation-name: slide-up;
}

::view-transition-old(puzzle-tile-down) {
	animation-name: slide-down;
}

::view-transition-old(puzzle-tile-right) {
	animation-name: slide-right;
}

::view-transition-old(puzzle-tile-left) {
	animation-name: slide-left;
}
