.puzzle-tile {
	--outline-size: 1px;
	--transition: linear 300ms;
	/* Add a transition delay */

	appearance: none;
	border: 0;
	border-radius: 0;
	box-sizing: border-box;
	opacity: 1;
	outline-color: var(--grid-lines-colour);
	outline-offset: calc(0px - var(--outline-size));
	outline-style: solid;
	outline-width: var(--outline-size);
	padding: 0;
	transition: outline-color var(--transition);
	/* transition: outline-color var(--transition), opacity var(--transition); */
}

.puzzle-tile_reveal {
	outline-color: transparent;
}

/* The transition doesn't work when this class gets removed */
.puzzle-tile_hidden {
	opacity: 0;
}

/* Tile backgrounds */
[data-image="1"] .puzzle-tile {
	background-image: url("./../../assets/1.svg");
}
[data-image="2"] .puzzle-tile {
	background-image: url("./../../assets/2.svg");
}
[data-image="3"] .puzzle-tile {
	background-image: url("./../../assets/3.svg");
}
[data-image="4"] .puzzle-tile {
	background-image: url("./../../assets/4.svg");
}
[data-image="5"] .puzzle-tile {
	background-image: url("./../../assets/5.svg");
}

/* Tile background positions */
[data-size="3"] .puzzle-tile {
	background-size: 300%;

	&[data-id="2"] {
		background-position: 50% 0;
	}
	&[data-id="3"] {
		background-position: 100% 0;
	}
	&[data-id="4"] {
		background-position: 0 50%;
	}
	&[data-id="5"] {
		background-position: 50% 50%;
	}
	&[data-id="6"] {
		background-position: 100% 50%;
	}
	&[data-id="7"] {
		background-position: 0 100%;
	}
	&[data-id="8"] {
		background-position: 50% 100%;
	}
	&[data-id="9"] {
		background-position: 100% 100%;
	}
}
