.puzzle-image {
	aspect-ratio: 1;
	background: #fff;
	box-shadow: 0 0 0.25rem var(--grid-lines-colour);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	height: 100%;
	position: relative;
	width: 100%;
}

.container_full .puzzle-image {
	view-transition-name: puzzle-image;
}

::view-transition-old(puzzle-image),
::view-transition-new(puzzle-image) {
	animation-delay: 100ms;
	animation-duration: 0; // TODO for back to home
}
